<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>lamp179网站后台</title>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	<script src="/jquery/dist/jquery.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/holderjs/holder.js"></script>
	<style>
		.container-fluid{
			padding:0px;
			margin:0px;
		}
		.left{
			height:500px;
			border-right:solid 1px #ddd;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<!-- 头部 start -->
		<header>
			<div class="col-md-2">
				<img src="holder.js/200x100?bg=#aed" alt="">
			</div>
		</header>
		<div class="clearfix"></div>
		<hr>
		<!-- 头部 end -->

		<section>
			<!-- 左侧 start -->
			<div class="left col-md-2">
				<div class="list-group">
				  <a href="/user" class="list-group-item">
				    用户管理
				  </a>
				</div>
			</div>
			<!-- 左侧 end -->
				
			<!-- 右侧 start -->
			<div class="col-md-10">
				<div class="col-md-8 col-md-offset-2" >
					欢迎xxx回来
				</div>
			</div>
			<!-- 右侧 end -->

		</section>

	</div>
</body>
</html>